body {
    background: #bbbbbb;
}
nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    font-weight: bolder;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}