body {
  background: #cccccc;
}
#banner {
  width: 100%;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
#mission {
  font-size: 20px;
}
strong {
  color: rgb(179, 2, 2);
}
em strong {
  color: rgb(190, 86, 0);
}
