body {
  background: #cccccc;
}
.principalTitle {
  padding: 20px;
}
.alignedText {
  text-align: center;
}
#banner {
  width: 100%;
}
.principal {
  background: #cccccc;
  padding: 30px;
}
#mission {
  text-align: center;
  font-size: 20px;
}
.benefits {
  background: #ffffff;
  padding: 20px;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.itens {
  font-style: italic;
}

strong {
  color: rgb(179, 2, 2);
}
em strong {
  color: rgb(190, 86, 0);
}
.imageBenefits {
  width: 50%;
}
